<!DOCTYPE html>
<html  lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pixel-Academy</title>
    <meta name="author" content="themeholy">
    <meta name="description" content="Edura - Online Courses & Education HTML Template">
    <meta name="keywords" content="Edura - Online Courses & Education HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/main.js"></script>




    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Jost:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">


    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="assets/css/slick.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="assets/css/nice-select.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
</head>
<body class="bg-gray-100">
    

    <!--==============================
     Preloader
  ==============================-->
  <div class="preloader ">
    <div class="preloader-inner">
        <span class="loader"></span>
    </div>
</div>
<!--==============================
Mobile Menu
============================== -->
<!--==============================
    Mobile Menu
  ============================== -->
<div class="th-menu-wrapper">
    <div class="th-menu-area text-center">
        <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
            <a href="home-2.html"><img src="assets/img/pixel_png.png" alt="pixel logo"
                    style="width: 30; height:auto; border:none"></a>
        </div>
        <!-- Add profile and language toggle buttons here -->
        <div class="btn-group">
                <a href="charged-code2.html"><button class="th-btn"  data-i18n="redeem_code">
                    <i class="fa-solid fa-globe"></i> redeemcode
                </button></a>
           
            <button class="th-btn" id="language-toggle-mob" data-i18n="change_language">
                <i class="fa-solid fa-globe"></i> Change Languages
            </button>
                    <button class="th-btn"  data-i18n="log_out" style="background-color: red; " id="logout-mob">
                        <i class="fa-solid fa-globe"></i> Log out
                    </button>
        </div>
        <div class="th-mobile-menu">
            <ul>
                <li class="">
                    <a href="home-2.html" data-i18n="home">Home</a>
                </li>
                <li class="">
                    <a href="course.html" data-i18n="Courses">Courses</a>
                </li>
                <li class="">
                    <a href="course.html" data-i18n="offers">Offers</a>
                </li>
                <li class="">
                    <a href="#" data-i18n="teachers">Teachers</a>
                </li>
                <li class="">
                    <a href="exams-done.html" data-i18n="exams">Exams</a>
                </li>
                <li class="">
                    <a href="contact.html" data-i18n="contact">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--==============================
Sidemenu 
============================== -->
<!-- <div class="sidemenu-wrapper d-none d-lg-block ">
    <div class="sidemenu-content">

        <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
        <div class="widget  ">
            <div class="th-widget-about">
                <div class="about-logo">
                    <a href="home-2.html"><img src="assets/img/logo.svg" alt="Edura"></a>
                </div>
                <p class="about-text">Intrinsicly target low-risk high-yield sources with proactive niche markets. Holisticly strategize intermandated.</p>
                <div class="th-social style2">
                    <h6 class="title">FOLLOW US ON:</h6>
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.skype.com/"><i class="fab fa-skype"></i></a>
                </div>
            </div>
        </div>
        <div class="widget  ">
            <h3 class="widget_title">Recent Posts</h3>
            <div class="recent-post-wrap">
                <div class="recent-post">
                    <div class="media-img">
                        <a href="blog-details.html"><img src="assets/img/blog/recent-post-1-1.jpg" alt="Blog Image"></a>
                    </div>
                    <div class="media-body">
                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">How To Start Learn Online Study From Your Home</a></h4>
                        <div class="recent-post-meta">
                            <a href="blog.html"><i class="fal fa-calendar"></i>21/6/2023</a>
                        </div>
                    </div>
                </div>
                <div class="recent-post">
                    <div class="media-img">
                        <a href="blog-details.html"><img src="assets/img/blog/recent-post-1-2.jpg" alt="Blog Image"></a>
                    </div>
                    <div class="media-body">
                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">A Guide for Teachers and Education Staff.</a></h4>
                        <div class="recent-post-meta">
                            <a href="blog.html"><i class="fal fa-calendar"></i>22/6/2023</a>
                        </div>
                    </div>
                </div>
                <div class="recent-post">
                    <div class="media-img">
                        <a href="blog-details.html"><img src="assets/img/blog/recent-post-1-3.jpg" alt="Blog Image"></a>
                    </div>
                    <div class="media-body">
                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Educate Empower Excel Discover the Power.</a></h4>
                        <div class="recent-post-meta">
                            <a href="blog.html"><i class="fal fa-calendar"></i>25/6/2023</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget widget_contact  ">
            <h3 class="widget_title">Get in touch!</h3>
            <p class="contact-text">Fusce varius, dolor tempor interdum tristiquei bibendum service life.</p>
            <div class="th-widget-contact">
                <div class="info-box-wrap">
                    <div class="info-box_icon">
                        <i class="fas fa-location-dot"></i>
                    </div>
                    <p class="info-box_text">
                        147/I, Green Road, Gulshan Avenue, Panthapath, Dhaka
                    </p>
                </div>
                <div class="info-box-wrap">
                    <div class="info-box_icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <a href="mailto:info@Edura.com" class="info-box_link">info@edura.com</a>
                </div>
                <div class="info-box-wrap">
                    <div class="info-box_icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <a href="tel:+11234567890" class="info-box_link">+256 214 203 215</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--==============================
Header Area
==============================-->
<header class="th-header header-layout6 z-0">
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-center justify-content-md-between align-items-center gy-2">
                <div class="col-auto d-none d-md-block">
                    <div class="header-links">
                        <ul>
                            <li><i class="far fa-phone"></i><a href="#" class="whatsappLink">01101010424</a></li>
                            <li><i class="far fa-phone"></i><a href="#" class="whatsappLink2">01224449193</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="header-links">
                        <ul>
                            <li class="d-none d-lg-inline-block">
                                <!-- <div class="dropdown-link">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">Language</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                        <li>
                                            <a href="#">German</a>
                                            <a href="#">French</a>
                                            <a href="#">Italian</a>
                                            <a href="#">Latvian</a>
                                            <a href="#">Spanish</a>
                                            <a href="#">Greek</a>
                                        </li>
                                    </ul>
                                </div> -->
                                <button type="button" class="icon-btn-lang" id="language-toggle">
                                    <i class="far fa-language"></i>
                                </button>
                            </li>
                            <li>
                                <div class="header-social">
                                    <span class="social-title">Follow Us:</span>
                                    <a href="https://www.facebook.com/share/ZN7Yw9U6FZE2C6DY/?mibextid=qi2Omg"><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a
                                        href="https://www.facebook.com/groups/geo.hamida.official/?ref=share&mibextid=NSMWBT"><i
                                            class="fa-solid fa-user-group"></i></a>
                                    <a href="https://t.me/mrhamidaahmed"><i class="fab fa-telegram"></i></a>
                                    <a href="https://youtube.com/@mr.hamidaahmed?si=BMnr--OR44i6klhE"><i
                                            class="fab fa-youtube"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-wrapper">
        <div class="sticky-active">
            <!-- Main Menu Area -->
            <div class="menu-area" data-bg-src="assets/img/update1/bg/pattern_bg_2.png">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="home-2.html" style="display: flex; align-items: center;"><img
                                        src="assets/img/hamida_logo_01.png"
                                        style="width: 200px; border: none;object-fit:cover; max-height: 100px; align-items:center; margin-right:3rem"
                                        alt="Edura">
                                    <!-- <span style="font-weight: bold; font-size: large;">Hamida Academy</span> -->
                                </a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <nav class="main-menu d-none d-lg-inline-block">
                                        <ul>
                                            <li class="">
                                                <a href="home-2.html" data-i18n="home">Home</a>

                                            </li>
                                            <li class="">
                                                <a href="course.html" data-i18n="Courses">Courses</a>

                                            </li>
                                            <li class="">
                                                <a href="course.html" data-i18n="offers">Offers</a>

                                            </li>
                                            <li class="">
                                                <a href="exams-done.html" data-i18n="exams">Exams</a>

                                            </li>
                                            <li class="">
                                                <a href="contact.html" data-i18n="contact">Contact us</a>

                                            </li>
                                        </ul>
                                    </nav>
                                    <button type="button" class="th-menu-toggle d-inline-block d-lg-none"><i
                                            class="far fa-bars"></i></button>
                                </div>
                                <div class="col-auto d-none d-xl-block">
                                    <div class="header-button">
                                        <!-- <button type="button" class="simple-icon me-3 searchBoxToggler"><i class="far fa-search"></i></button> -->
                                        <div id="">
                                            <a href="charged-code2.html" class="th-btn style3" data-i18n="redeem_code"><i
                                                    class="fas fa-arrow-right ms-2"></i></a>
                                        </div>
                                        <!-- <a href="#" class="simple-icon style2 ms-3 sideMenuToggler"><i class="fa-sharp fa-solid fa-grid"></i></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="logo-shape"></div>
            </div>
        </div>
    </div>
</header>
<hr style="color:gray">
            <div class="flex min-h-screen">
                <!-- Sidebar -->
                <aside class="bg-white w-80 p-6 shadow-lg hidden md:block">
                    
                    <div class="text-2xl font-bold mb-4 text-darkblue" data-i18n="settings">Settings</div>
                    <nav>
                        <ul>
                            
                            <li class="mb-2"><a href="profile.html" class="block p-2 bg-blue-500 text-white rounded" data-i18n="profile">Profile</a></li>
                            <li class="mb-2"><a href="charged-code2.html" class="block p-2 bg-gray-200 hover:bg-gray-300  rounded" style="color: black;" data-i18n="redeem_code">Budget History</a></li>
                            <li class="mb-2"><a href="#" class="block p-2 hover:bg-gray-200 rounded" id="logout" style="background-color: red; color:white" data-i18n="log_out">Logout</a></li>
                        </ul>
                    </nav>
                </aside>
                <!-- Main Content -->
                <main class="flex-1 p-6">
                    <header class="flex justify-between items-center mb-6">
                        <h1 class="text-3xl font-bold">الملف الشخصي</h1>
                        
                        <!-- <div class="flex items-center space-x-4">
                            <input type="search" placeholder="Search Here" class="p-2 border rounded-md">
                            <div class="flex items-center space-x-2">
                                <img src="user.jpg" alt="User Profile" class="w-10 h-10 rounded-full">
                                <span>Bodz</span>
                            </div>
                        </div> -->
                    </header>
                    <body class="bg-gray-100">
                        <div class="container mx-auto p-4">
                            <div class="w-full bg-white rounded-lg shadow-md">
                                <!-- Left Sidebar and Right Content -->
                                <div class="flex flex-col lg:flex-row">
                                    <!-- Left Sidebar -->
                                    <div class="w-full lg:w-1/4 p-4 text-center">
                                        <img class="w-24 h-24 mx-auto rounded-full" src="assets/img/user (1).png" alt="Profile Picture">
                                        <h2 class="namestudent text-xl font-semibold mt-4" ></h2>
                                        <p class="governorate text-gray-500"></p>
                                        <p class="stage text-gray-500"></p>
                                        <button id="editButton" class="btn btn-primary mt-4">تعديل الحساب</button>
                                        <button id="changeGrade" class="btn btn-primary mt-4">تعديل الصف الدراسي</button>
                                        <button id="changePassword" class="btn btn-primary mt-4">تعديل كلمة السر</button>


                                    </div>
                                    
                                    <hr class="lg:hidden my-4 border-gray-300">
                    
                                    <!-- Right Content -->
                                    <div class="w-full lg:w-3/4 p-4">
                                        <!-- Personal Information Section -->
                                        <div>
                                            <h3 class="text-lg font-semibold mb-4">المعلومات الشخصية</h3>
                                            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                                <div>
                                                    <label class="block text-gray-600">اسم الطالب</label>
                                                    <p class="namestudent text-gray-800" id="namestudent"></p>
                                                </div>
                                                <div>
                                                    <label class="block text-gray-600">رقم موبايل الطالب</label>
                                                    <p class="text-gray-800 phone" id="phone"></p>
                                                </div>
                                                <div>
                                                    <label class="block text-gray-600">رقم موبايل ولي الامر</label>
                                                    <p class="text-gray-800 parentPhone" id="parentPhone"></p>
                                                </div>
                                                <div>
                                                    <label class="block text-gray-600">الرقم القومي</label>
                                                    <p class="nationalID text-gray-800 " ></p>
                                                </div>
                                            </div>
                                        </div>
                    
                                        <hr class="my-4 border-gray-300">
                    
                                        <!-- Educational Information Section -->
                                        <div>
                                            <h3 class="text-lg font-semibold mb-4">المعلومات الدراسية</h3>
                                            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                                <div>
                                                    <label class="block text-gray-600">المحافظة</label>
                                                    <p class="governorate text-gray-800" id="governorate"></p>
                                                </div>
                                                <div>
                                                    <label class="block text-gray-600">العنوان</label>
                                                    <p class="text-gray-800 city" id="city"></p>
                                                </div>
                                                <div>
                                                    <label class="block text-gray-600">المدرسة</label>
                                                    <p class="text-gray-800 school" id="school"></p>
                                                </div>
                                                <div>
                                                    <label class="block text-gray-600">الشعبة</label>
                                                    <p class="text-gray-800 grade" id="grade"></p>
                                                </div>
                                                <div>
                                                    <label class="block text-gray-600">الصف الدراسي</label>
                                                    <p class="stage text-gray-800" ></p>
                                                </div>
                                                <div>
                                                    <label class="block text-gray-600">الحالة</label>
                                                    <p class="text-gray-800 profileStatus" id="profileStatus"></p>
                                                </div>
                                                <!-- <div>
                                                    <label class="block text-gray-600">الميزانية</label>
                                                    <p class="text-gray-800 budget" id="budget"></p>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                          <!-- Modal -->
                          <div class="modal fade " id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel">Edit Student Information</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="editStudentForm">
                                            
                                            <div class="form-group">
                                                <label for="fullName">Full Name</label>
                                                <input type="text" class="form-control form-fullName" name="fullName">
                                            </div>
                                            <div class="form-group">
                                                <label for="phone">Phone</label>
                                                <input type="text" class="form-control form-phone" name="phone">
                                            </div>
                                            <div class="form-group">
                                                <label for="parentPhone">Parent Phone</label>
                                                <input type="text" class="form-control form-parentPhone" name="parentPhone">
                                            </div>
                                            <div class="form-group">
                                                <label for="governorate">Governorate</label>
                                                <input type="text" class="form-control form-governorate" name="governorate">
                                            </div>
                                            <div class="form-group">
                                                <label for="city">City</label>
                                                <input type="text" class="form-control form-city" name="city">
                                            </div>
                                            <div class="form-group">
                                                <label for="nationalID">National ID</label>
                                                <input type="text" class="form-control form-nationalID optional" name="nationalID">
                                            </div>
                                            <div class="form-group">
                                                <label for="school">School</label>
                                                <input type="text" class="form-control form-school" name="school">
                                            </div>
                                            <button type="button" class="btn btn-primary" onclick="editStudent()">Save changes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Change Grade Modal -->
<!-- Change Grade Modal -->
<div class="modal fade" id="changeGradeModal2" tabindex="-1" role="dialog" aria-labelledby="changeGradeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeGradeModalLabel">Change Student Grade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="changeGradeForm">
       
                    <div class="form-group">
                        <label for="gradeSelect">Select Grade</label>
                        <select class="form-control" id="gradeSelect" name="gradeId" required>
                            <option value="" disabled selected>Select a Grade</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="changeGrade()">Change Grade</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="changeGradeModal" tabindex="-1" role="dialog" aria-labelledby="changeGradeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeGradeModalLabel">هل تريد تغير مرحلة الدراسية</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="changeGradeForm">

                    <button type="button" class="btn btn-primary" id="approveChangeGrade" onclick="">نعم</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Change Password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="changePasswordForm">
                    <div class="form-group">
                        <label for="currentPassword">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmNewPassword">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword"
                            required>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="changePassword()">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>


                        
                        <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
                        
                        <script>
                            $(document).ready(function () {
                                function isLoggedIn() {
                                    var userId = localStorage.getItem('userId');
                                    var token = localStorage.getItem('token');
                                    return (userId !== null && token !== null);
                                }
                        
                                if (isLoggedIn()) {
                                    var studentId = localStorage.getItem("userId");
                                    var token = localStorage.getItem("token");
                        
                                    $.ajax({
                                        url: `http://pixelstamp-007-site3.htempurl.com/api/v3/Student/Profile/${studentId}`, 
                                        type: "GET",
                                        headers: {
                                            Authorization: `Bearer ${token}`
                                        },
                                        success: function (response) {
                                            if (response.isSuccess) {
                                                var studentData = response.data;
                                                console.log(studentData.nationalID);
                                                
                                                
                                                $(".form-fullName").val(studentData.fullName);
                                                $(".form-phone").val(studentData.phone);
                                                $(".form-parentPhone").val(studentData.parentPhone);
                                                $(".form-governorate").val(studentData.governorate);
                                                $(".form-city").val(studentData.city);
                                                $(".form-nationalID").val(studentData.nationalID);
                                                $(".form-school").val(studentData.school);
                                                $(".namestudent").text(studentData.fullName);
                                                $(".phone").text(studentData.phone);
                                                $(".budget").text(studentData.budget);
                                                $(".parentPhone").text(studentData.parentPhone);
                                                $(".governorate").text(studentData.governorate);
                                                $(".city").text(studentData.city);
                                                $(".nationalID").text(studentData.nationalID);
                                                $(".school").text(studentData.school);
                                                $(".grade").text(studentData.grade);
                                                $(".stage").text(studentData.stage);
                                                $(".profileStatus").text(studentData.profileStatus);
                                                $("#logout").click(function() {
                                                    localStorage.clear();
                                                    window.location.href = "home-2.html";
                                                });
                                                $("#editButton").click(function() {
                                                    $("#editModal").modal("show");
                                                });
                                            } else {
                                                $("#profileResponse").html("<p>Failed to fetch profile information.</p>");
                                            }
                                        },
                                        error: function (error) {
                                            console.log("Error:", error);
                                            $("#profileResponse").html("<p>Error in fetching profile. Please try again.</p>");
                                        },
                                    });
                                } else {
                                    $("#profileResponse").html("<p>Error: User is not logged in.</p>");
                                }
                            });
                        
                            function editStudent() {
                                
                                const fullName = $(".form-fullName").val();
                                const phone = $(".form-phone").val();
                                const parentPhone = $(".form-parentPhone").val();
                                const governorate = $(".form-governorate").val();
                                const city = $(".form-city").val();
                                const nationalID = $(".form-nationalID.optional").val()  || " ";
                                const school = $(".form-school").val();
                                var token = localStorage.getItem('token');
                        
                                const data = {

                                    studentId: localStorage.getItem("userId"),
                                    fullName: fullName,
                                    phone: phone,
                                    parentPhone: parentPhone,
                                    governorate: governorate,
                                    city: city,
                                    nationalID: nationalID,
                                    school: school
                                };
                                
                        
                                $.ajax({
                                    url: 'http://pixelstamp-007-site3.htempurl.com/api/v3/Student/Edit',
                                    type: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json-patch+json',
                                        Authorization: `Bearer ${token}`
                                    },
                                    data: JSON.stringify(data),
                                    success: function (response) {
                                        if (response.isSuccess) {
                                            alert(response.message);
                                            $("#editModal").modal("hide");
                        
                                            // Update the profile information on the page
                                            $(".namestudent").text(fullName);
                                            $(".phone").text(phone);
                                            $(".parentPhone").text(parentPhone);
                                            $(".governorate").text(governorate);
                                            $(".city").text(city);
                                            $(".nationalID").text(nationalID);
                                            $(".school").text(school);
                                        } else {
                                            alert('Error updating student information: ' + response.message);
                                        }
                                    },
                                   error: function (error) {
                                        console.error('Error:', error);

                                        // Check if responseJSON and errors exist
                                        if (error.responseJSON && error.responseJSON.errors) {
                                            // Get the first error message from the errors object
                                            var errorMessage = Object.values(error.responseJSON.errors)[0][0];

                                            // Display the error message in an alert
                                            alert(errorMessage);
                                        } else {
                                            // Fallback in case responseJSON or errors are not available
                                            alert(error.responseJSON.message);
                                        }
                                    }
                                });
                            }
                            $(document).ready(function () {
                                token=localStorage.getItem('token');
                                studentId=localStorage.getItem('userId');
                                    // Show the Change Grade modal when the button is clicked
                                    $('#changeGrade').click(function () {
                                        // Fetch stages and populate the dropdown
                                        fetchStages();
                                        $('#changeGradeModal').modal('show');
                                    });
                                });

                                function fetchStages() {
                                    $.ajax({
                                        url: 'http://pixelstamp-007-site3.htempurl.com/api/v3/Stage/Stages',
                                        type: 'GET',
                                        headers:{
                                            Authorization: `Bearer ${token}`
                                        },
                                        success: function (responseData) {
                                            if (responseData.isSuccess) {
                                                const stages = responseData.data;
                                                const gradesDropdown = $('#gradeSelect');
                                                gradesDropdown.empty(); // Clear previous options

                                                stages.forEach((stage) => {
                                                    stage.grades.forEach((grade) => {
                                                        const optionText = `${stage.stageName} - ${grade.gradeName}`;
                                                        gradesDropdown.append(new Option(optionText, grade.gradeId));
                                                    });
                                                });
                                            } else {
                                                alert(responseData.messageEnglish);
                                            }
                                        },
                                        error: function (error) {
                                            console.log("Error fetching stages:", error);
                                            alert("Error fetching stages and grades.");
                                        }
                                    });
                                }
                                   $(document).ready(function () {
                                        // Show the Change Password modal when a button is clicked (example button ID)
                                        $('#approveChangeGrade').click(function () {
                                            $('#changeGradeModal2').modal('show');
                                            $('#changeGradeModal').modal('hide');
                                        });
                                    });

                                

                                function changeGrade() {
                                    const gradeId = $('#gradeSelect').val();

                                    if (!gradeId) {
                                        alert('Please select a grade.');
                                        return;
                                    }

                                    const data = {
                                        studentId: studentId, // Replace with the actual student ID
                                        gradeId: gradeId
                                    };

                                    $.ajax({
                                        url: 'http://pixelstamp-007-site3.htempurl.com/api/v3/Stage/ChangeGrade',
                                        type: 'POST',
                                        headers:{
                                            Authorization: `Bearer ${token}`
                                        },
                                        contentType: 'application/json',
                                        data: JSON.stringify(data),
                                        success: function (response) {
                                            if (response.isSuccess) {
                                                alert(response.message);
                                                $('#changeGradeModal').modal('hide');
                                                location.reload();
                                            } else {
                                                alert('Failed to change grade: ' + response.message);
                                            }
                                        },
                                        error: function (error) {
                                            alert(xhr.responseText);
                                        }
                                    });

                                    $(document).ready(function () {
                                        // Show the Change Password modal when a button is clicked (example button ID)
                                        $('#changePassword').click(function () {
                                            $('#changePasswordModal').modal('show');
                                        });
                                    });

            



                                }
                                $(document).ready(function () {
                                        $('#changePassword').click(function () {
                                            $('#changePasswordModal').modal('show');
                                        });
                                    });

                                    function changePassword() {
                                        const currentPassword = $('#currentPassword').val();
                                        const newPassword = $('#newPassword').val();
                                        const confirmNewPassword = $('#confirmNewPassword').val();

                                        // Basic validation
                                        if (!currentPassword || !newPassword || !confirmNewPassword) {
                                            alert('All fields are required.');
                                            return;
                                        }

                                        if (newPassword !== confirmNewPassword) {
                                            alert('New passwords do not match.');
                                            return;
                                        }

                                        const data = {
                                            userId: localStorage.getItem('userId'), // Replace with the actual user ID
                                            currentPassword: currentPassword,
                                            newPassword: newPassword,
                                            confirmNewPassword: confirmNewPassword
                                        };

                                        $.ajax({
                                            url: 'http://pixelstamp-007-site3.htempurl.com/api/v3/identity/ChangePassword',
                                            type: 'POST',
                                            headers: {
                                                Authorization: `Bearer ${token}` // Replace with actual token
                                            },
                                            contentType: 'application/json',
                                            data: JSON.stringify(data),
                                            success: function (response) {
                                                console.log('Success:', response); // Debugging line
                                                if (response.isSuccess) {
                                                    alert(response.message);
                                                    $('#changePasswordModal').modal('hide');
                                                } else {
                                                    alert('Failed to change password: ' + response.messageEnglish);
                                                }
                                            },
                                            error: function (xhr, status, error) {
                                                console.error('Error:', xhr.responseText); // Debugging line
                                                alert('An error occurred: ' + xhr.responseText);
                                            }
                                        });
                                    }



  


                            
                        </script>
                        
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/language.js"></script>
</body>

</html>